body {
  font-family: Roboto;
  color: #212121;
}
.webstudio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.web {
  color: #2196f3;
}
.studio-header {
  color: #000;
}
.studio-footer {
  color: #fff;
}
.nav,
.nav-items,
ul {
  display: flex;
}
a {
  text-decoration: none;
}
.footer-links {
  display: inline;
}
.team {
  background: #f5f4fa;
}
.footer {
  background: #2f303a;
}
.skills-title,
.team-title,
.clients-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
.features-text,
.team-text {
  color: #757575;
}
