/*заголовки  h #212121
  текст p #757575
  цвет ховер #2196f3
  белый #ffffff
  черный #000000
  studio в хедере#ffffff
  фон блока команды #f5f4fa
  фон футера #2f303a
  контакты и мейл-форма в футере rgba(255, 255, 255, 0.6)*/

:root {
  --main-black-color: #000000;
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --footer-background: #2f303a;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --portfolio-projects-bg-color: #eeeeee;
  --button-hover-color: #188ce8;
  --footer-link-color: rgba(255, 255, 255, 0, 6);
  --skills-titles-bg-color: rgba(47, 48, 58, 0.8);
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-title-color);
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  font-family: inherit;
}
.webstudio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.web {
  color: var(--accent-color);
}
.studio-header {
  color: var(--main-black-color);
}
.studio-footer {
  color: var(--primary-bg-color);
}
.hero-title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
.site-nav-list .link {
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav-contacts-list .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.site-nav-list .link.current {
  color: var(--accent-color);
}
.team {
  background-color: var(--secondary-bg-color);
}
.footer {
  background: var(--footer-background);
}
/* .hero-title { 
  color: #ffffff;
}*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-title-color);
}
.features-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-list .text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--button-hover-color);
}
.button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
/* .button :hover, 
.button :focus {
  color: var(--accent-color);
}
button[type]:hover,
button[type]:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
*/
.modal-btn ();
